In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
Num=list(range(10,20))
print(Num)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
List2=[10,11,12,13,14,15,445]
print(List2)
print("Number of item in the List2:")
print(len(List2))

[10, 11, 12, 13, 14, 15, 445]
Number of item in the List2:
7

In [12]:
print("Artificial Intelligence")
for char in "Artificial Intelligence":
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [1]:
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [2]:
tup1=(0,1,2,3)
tup2=('python','Hope')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'Hope'))

In [8]:
numbers=[20,10,16,19,25,1,276,188]
for num in numbers:
    if((num%2)==1):
        print(num,"is odd Number")

19 is odd Number
25 is odd Number
1 is odd Number

In [9]:
numbers=[20,10,16,19,25,1,276,188]
for num in numbers:
    if((num%2)==0):
        print(num,"is Even Number")

20 is Even Number
10 is Even Number
16 is Even Number
276 is Even Number
188 is Even Number

In [10]:
numbers=[20,10,16,19,25,1,276,188]
for num in numbers:
    if((num%2)==0):
        print(num,"is odd Number")

20 is odd Number
10 is odd Number
16 is odd Number
276 is odd Number
188 is odd Number