In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16)) # Case -sensitive

In [1]:
import math
print(math.sqrt(16))

4.0

In [ ]:
#2.Find the error in the following Python code:
def my_function():  # x not declared in the function
    x += 5
    print(x)

x = 10
my_function()       # x not declared in the function

In [2]:
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [ ]:
#3.x = 5
if x = 10:           # assignment operator used instead of comparison operator
    print("x is 10")

In [3]:
if x == 10:        
    print("x is 10")

x is 10

In [ ]:
#4.
numbers = [5, 3, 8, 2]   # Missing Condition
print(numbers.sort())    # Variable not Declared

In [4]:
numbers = [5, 3, 8, 2]
numbers.sort()   
print(numbers)

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))

In [5]:
def square(n):
    return n * n   #Values not returned
print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [6]:
my_list = [1, 2, 3]  # Tuples are immutable
my_list[1] = 5
print(my_list)

[1, 5, 3]

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [7]:
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age)) #variable age not declared

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [8]:
a = list[1, 2, 3]
b = list[1, 2, 3]
 
if a == b:            #  Use Comparison Operator
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):     # Start should smaller than stop
    print(i)

In [9]:
#9.
for i in range(1,5): 
    print(i)

1
2
3
4

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])         # name not declared as variable

In [10]:
student = {"name": "John", "age": 20}
print(student)

{'name': 'John', 'age': 20}